name: Run Tests for Interrupt Unwinding

on: [workflow_call]

env:
  CARGO_TERM_COLOR: always

jobs:
  simple:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run test simple
        uses: ./.github/workflows/actions/run-test
        with:
          category: interrupt
          sub-category: unwind
          test-name: simple
          timeout: 15s

  panic_upon_blocking:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run test panic_upon_blocking
        uses: ./.github/workflows/actions/run-test
        with:
          category: interrupt
          sub-category: unwind
          test-name: panic_upon_blocking
          timeout: 15s
