name: Run Tests for Segmented Stack

on: [workflow_call]

env:
  CARGO_TERM_COLOR: always

jobs:
  function_arguments:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run test function_arguments
        uses: ./.github/workflows/actions/run-test
        with:
          category: task
          sub-category: segmented_stack
          test-name: function_arguments

  return_values:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run test return_values
        uses: ./.github/workflows/actions/run-test
        with:
          category: task
          sub-category: segmented_stack
          test-name: return_values